@import 'tailwindcss';

@theme {
	--color-cabaret: #d94e67;
	--color-christalle: #3e2259;
	--color-cadetBlue: #4ba69d;
	--color-persimmon: #f25c05;
	--color-moonRaker: #cbc4d3;

	--font-gantari: Gantari, serif;
	--font-dmtext: 'DM Serif Text', serif;
	--font-rajdhani: Rajdhani, serif;
}

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}
